body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
    overflow-x: hidden;
    background-image: url('https://github.com/Brian55464/webserve/blob/main/assets/img/%E9%A6%96%E5%9C%96.png?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#section{
  width: 100%;
  height: 100vh;
}

#firstdiv{
  width: 100%;
  height: 80%;
  text-align: left;
  padding-top: 10rem;
  padding-left: 15rem;
  font-size: 40px;
  font-weight: bold;
}



#secondbkdiv {
  width: 100%;
  height: 80%;
  text-align: right;
  padding-top: 10rem;
  font-size: 40px;
  font-weight: bold;
}

.secondtext{
padding-right: 10rem;
}

#thirdbkdiv {
  width: 100%;
  height: 80%;
  text-align: center;
  padding-top: 10rem;
  font-size: 40px;
  font-weight: bold;
}

.leftchat{
  width: 60%;
  height: auto;
  background-image: url('C:/Users/anan/Desktop/新增資料夾/assets/img/firstchat.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.enddiv {
  width: 100%;
  height: 120vh;
  background-color: rgba(255, 255, 255, 0.25); /* 设置透明的背景颜色 */
  background-size: cover; /* 图片填满元素 */
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
}
#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.animateimg{
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.enddivimg {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 40%;
  height: 30%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.play{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 5%;
  height: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
/*
.container {
    width: 100%;
    height: 100vh;
    background-image: url('C:/Users/anan/Desktop/華文永續/首頁背景/首圖.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5); /* 背景透明度设置在这里，这里的透明度值为0.5 
    z-index: -1;
    opacity: 0.8;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    color: rgb(0, 0, 0); /* 文本颜色不透明 
    font-size: 32px;
    text-align: right;
    padding-top: 15rem;
    padding-right: 10rem;
}
*/

footer{
    padding: 20px;
    text-align: center;
    height: 10vh;
    left: 0;
    bottom: 0;
}

.icon {
    font-size: 45px; /* 调整图标大小的值，这里设置为24像素 */
    color: black;
}

.icon:hover{
    color: red;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    opacity: 1; /* 初始透明度为 1 */
    transition: opacity 0.5s ease-in-out; /* 过渡效果，控制透明度的变化 */
  
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  .loader-img {
    width: 50px; /* 初始宽度为 50px */
    height: 50px; /* 初始高度为 50px */
    opacity: 0; /* 初始透明度为 0 */
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out; /* 过渡效果，控制透明度、宽度和高度的变化 */
  }
  
  /* 淡入动画 */
  .loader-wrapper.fade-in {
    opacity: 1;
  }
  
  .loader-wrapper.fade-out {
    opacity: 0;
  }
  
  /* 由小变大动画 */
  .loader-img.scale-up {
    opacity: 1;
    width: 100px;
    height: 100px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  [data-aos="new-animation"] {
    opacity: 1;
    transform: translateX(100px);
   
      
    &.aos-animate {
      opacity: 0;
      transition-property: transform;
    }
  
    @media screen and (min-width: 768px) {
      transform: translateX(100px);
  
      &.aos-animate {
        transform: translateX(0);
      }
    }
  }
